* {
    background: rgb(204, 204, 204);
    font-family: helvetica;
}

.intro {
    text-align: center;
    border-bottom:solid white 5px;
    padding-bottom: 5px;
}

#box1 {
    height: 10vw;
    width: 50px;
    background: rgb(204,204,204);
}

#box2 {
    height:50px;
    width: 50vw;
    background: rgb(204,204,204);
    float:left;
}

#circle {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    float:left;
}

#circleText {
    display: none;
}

